.logo{
    width: 250px;
}

.bp{
    text-align: center;
}

.columna_titulos{
    width: 180;
}

.subt{
    text-align: center;
}

.TitDat{
    text-align: center;
}

.infDat *{
    justify-content: center;
    text-align: start;
}