<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-item>
      <img src="https://seeklogo.com/images/D/duoc-uc-logo-F1437952BE-seeklogo.com.png" width="50px" />
    <ion-title>
      <h1>Asistencia DUOC</h1>
    </ion-title>
    </ion-item>
      
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
    <ion-toolbar>

      <ion-title size="large">
        <h2>Recuperar Contraseña</h2>
      </ion-title>

        <img src="https://media.discordapp.net/attachments/1149147775590748177/1149896269628706937/8NH7R0P4A0qFyyV9SwufezqJAgo6l3ZFWPgg8LmktmGGy0tk4SgNT3NPV4Kp9VFlp2js3Z6tWqFhrbx7efirOStvaOG4lUPP8fH95qXoNizUkAAAAASUVORK5CYII.png" />

      <ion-label>
        <h1>Incorrecto</h1>
      </ion-label>
    </ion-toolbar>
</ion-content>
